.customer-list-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffffff;
    width: 40%;
}

.container {
    display: flex;
    flex-direction: column;
    
    background-color: #ffffffff;
    width: 100%;
}

.customer-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: #ffffffff;

}

.title {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  margin: 10px;
  color: #000000;
  margin-left: 25px;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px;
    padding-right: 10px;
    margin-left: 50px;
}

.icon {
    margin-right: 10px;
    margin-left: 30px;
}
.vl {
    border-left: 2px solid #d9d9d9;
    height: 15px;
    margin-right: 10px;
}

.horizontal-line {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    background-color: 	#cccccc;
    border-radius: 10px;
    border: solid 1px;
}

.arrow {
    margin-right: 20px;
    align-self: flex-end;
}
  

