.horizontal-line {
    width: 100%;
    margin-bottom: 5px;
    height: 1px;
    background-color: 	#746c6c;
    border-radius: 10px;
    border: solid 2px;
    margin-top: 0px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
    margin: 15px;
    width: 60%;
    justify-content: center;
}

.personal-details-container {
    display: flex;
    flex-direction: row;
    
}

.name-container {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 100px;
    background-color: #ffcccc;
    padding: 10px;
    margin: 10px;
}